.sign_in_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    background-color: #97abdd;
    text-align: center;
    width: 25%;
    min-width: 450px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }
  
  .wrapper h4 {
    padding-top: 50px;
    padding-bottom: 20px;
  }