.App-header {
  background-color: rgb(193, 236, 0);
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
}

.view-mode {
  margin: 10px 0px 0px 20px;
}

.container_buttons{
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
}

