.Danger {
    background-color: red;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10%;
    outline: 0;
  }
  
  .Danger:hover {
    background-color: rgb(199, 18, 18);
  }