.Card {
    border: 5px solid rgb(211, 218, 216);
    
    box-shadow: 0px 1px 5px rgba(7, 207, 23, 0.952);

    text-align: left;
}
.bold {
    font-weight: bold;
}
.textMarg {
    margin: 10px 45px 10px 10px;
}
.topRight {
    position: absolute; 
    right: 10px;
    top: 10px;
}
.blue {
    color : blue;
}
.green {
    color: green!important;
    cursor: pointer;
    }
.red {
    color: red;
    cursor: pointer;
    }
.block {
    position: relative;
    word-break: break-all;
    }
.solidBorder {
    display: flexbox;
    word-break: break-all;
    }
p {
    margin: 0;
    }
